*{
	margin : 0;
	padding: 0;
}

.nutlentren {
    position: fixed;
    bottom: 10px;
    right: 18px;
    border: 1px solid #808080bf;
    background: #8080802e;
    border-radius: 15px;
    padding: 9px 9px;
    cursor: pointer;
}

h2.tdkhoi.xanh img {
    padding-right: 50px;
}

h2.tdkhoi.xanh img {
    margin-right: 0;
    opacity: 1;
    transform: rotate(180deg);
}

h2.tdkhoi.xanh img {
    margin-right: 0;
}

.ndkhoi {
    color: gray;
    font-size: 18px;
    line-height: 21px;
}

h2.tdkhoi:hover img {
    margin-right: 0;
    opacity: 1;
    transition: 0.4s;
}

.tdkhoi img {
    float: right;
    transition: 0.4s;
    padding-top: 6px;
    padding-right: 29px;
    margin-right: -30px;
    opacity: 0;
    width: 24px;
}

h2.tdkhoi {
    height: 35px;
    font-size: 31px;
    color: #676464;
    cursor: pointer;
}

h2.tdkhoi:hover {
    color: #0000ffba;
    
}

._1khoi {
    border-bottom: 1px solid #80808096;
    padding-bottom: 33px;
    margin-bottom: 33px;
}

.vaicaianh {
    overflow: hidden;
}

img.anhnho {
    float: left;
    height: 100px;
    margin-right: 14px;
}

.noidung {
    width: 37%;
    margin: auto;
    font-family: 'Josefin Slab', serif;
}

body {
    background: url(images/bgnoise_lg.jpg);
}

h1.tieude {
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
    text-align: center;
    margin: 18px 0;
    font-size: 25px;
    margin-bottom: 66px;
}
.tdkhoi.xanh{
	color:#0000ffba;
}